<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SharePointSiteComparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SharePointSiteComparer.Properties.Settings>
      <setting name="SharePointSiteComparer_SPMigrationCorpWebService_Webs"
          serializeAs="String">
        <value>http://test-sharepoint2007.fmr.com/_vti_bin/Webs.asmx</value>
      </setting>
      <setting name="SharePointSiteComparer_SPMigrationCorpListWebvice_Lists"
          serializeAs="String">
        <value>http://test-sharepoint2007.fmr.com/_vti_bin/Lists.asmx</value>
      </setting>
      <setting name="SharePointSiteComparer_SPMigrationCorpVersionService_Versions"
          serializeAs="String">
        <value>http://test-sharepoint2007.fmr.com/_vti_bin/versions.asmx</value>
      </setting>
    </SharePointSiteComparer.Properties.Settings>
  </applicationSettings>
</configuration>